
@page "/"
<head>
    <link href="css/TallerBAS.css" rel="stylesheet" />
</head>

<PageTitle>Index</PageTitle>

<h1> Bienvenidos al taller de desarrollo Web de BAS </h1>

@*<div class="row" >
    <div class="col-12">
        <img src="/img/gordito.bmp"  class="img-fluid"  />
    </div> 
</div>*@
